li:a{
    font-size:50pt;
}
.card{
    border:none;
    border-radius: 0px;
}

strong{
    font-family:fantasy;
}
.carousel-image{
    max-height:  550px;
    object-fit: contain;
}
.card-img-top{
    max-height: 425px;
    object-fit: cover;
    opacity: 75%;
    border:1px solid white;
    border-radius: 0%;
}
.card:hover .card-img-top{
    opacity: 100%;
}

.card-body{
    background-color:rgb(8, 20, 36);
    color:white;
    border: 1px solid white;
    border-radius: 0px;
}
.input-number{
    border-radius: 0%;
    border:0px;
}
.btn{
    border-radius: 0%;
}