li:a{
    font-size:50pt;
}
.card{
    border:none;
}

strong{
    font-family:fantasy;
}
.carousel-image{
    max-height: 650px;
    object-fit: contain;
}
.card-img-top{
    max-height: 425px;
    object-fit: cover;
    opacity: 90%;
}
.card-img-top:hover{
    opacity: 100%;
}