.nav-link{
    background-color: rgb(8, 20, 36);
    color:white;
    border:1px solid white;
    border-radius: 0px !important;

}
.nav-link.active{
    background-color:white!important;
    color:black !important;
    border-radius: 0% !important;
}
.nav-link:hover{
background-color: rgb(8, 20, 36);
color:white;
}

.form-control{
    border-radius: 0% !important;
}
body{
    background-color:rgb(8, 20, 36);
    color:white;
}
